/*Global Styles */

body {
    background-color: #CCCCCC;
    font-family: 'Quattrocento', serif;
}

h1 {
    font-family: 'Oswald', sans-serif;
}

h2, h3 {
    font-family: 'Quattrocento', serif;
}

h3 {
    font-size: 24px;
}

.section-container {
    width: 100%;
    background-color: #CCCCCC;
}


/* Navigation Styles */

.navbar {
    background-color: #143D55;
    color: white;
    width: 95%;
    margin-left: 2.5%;
}


/* Hero Styles */


.splash {
    background: url(./Images/clement-helardot-95YRwf6CNw8-unsplash.jpg)  center no-repeat;
    background-size: cover;
    min-height: 500px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
   }

.header-box {
       text-align: center;
       color: #287AA9;
       }

.header-box img {
    height:200px;
    width: 200px;
}


/* Project Section Styles */

.project-header {
    background-color: #96AD3E;
    width: 95%;
    margin-left: 2.5%;
    text-decoration: underline;
    margin-bottom: 0;
}

.projects {
    background-color: #96AD3E;
    width: 95%;
    display: inline-flex;
    justify-content: center;
    margin-left: 2.5%;
    flex-flow: column wrap;
    align-items: center;
    padding-top: 2rem;
}

hr {
    height:30px;
    color:#143D55;
    background: #143D55;
}

#title {
    align-self: start;
    text-decoration: underline;
    margin-left: 20px;
}

.project-info {
    max-width: 800px;
    text-align: center;
    margin: 10px 10px 10px;
}

.project-info img {
    max-width: 100%;
}


.tea-blurb{
    display: none;
}

.tea-blurb:hover, #tea:hover {
    display: inline;
}


#twc img {
    filter: blur(8px);
  -webkit-filter: blur(8px);
}


/* About Section */

.about-section {
    background-color: #287AA9;
    width: 95%;
    margin-left: 2.5%;
}

.tech-logos {
    display: inline-flex;
    justify-content: start;
}

.tech-logos img {
    max-height: 60px;
    margin: 0 20px 0 20px;
}


/* Footer */

footer {
    background-color: #143D55;
    width: 95%;
    margin-left: 2.5%;
    height: 3rem;
}

footer h5{
    color: white;
    margin-left: 10px;
    padding-top: 10px;
}